<!DOCTYPE html>
<html>
<head>
    <title>TEST</title>
    <script src="/static/js/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/libraries/sigma.js/sigma.min.js"></script>
   <script type="text/javascript" src="/static/js/libraries/linkurious.js.BACKUP/dist/plugins/sigma.plugins.tooltips.min.js"></script> 
    <!--<script src="/static/js/libraries/linkurious.js/dist/plugins/sigma.layouts.fruchtermanReingold.min.js"></script>-->

   



<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>


<div id="container">


    <link rel="stylesheet" type="text/css" href="/static/styles/style.css"/>


        
</head>

<body>


<div id="graphContainer"></div>

<div class="closeLetter"></div>

<div class="masthead">The Letters of 1916</div>

<div class="console">
  <div><a id="showConsole"></a>Console</div>

  <div>
    <h3>Do some stuff to the graph</h3>
  </div>


</div>

</body>

<script>





sigma.classes.graph.addMethod('neighbors', function(nodeId) {

        
    var k,
        neighbors = {},
        index = this.allNeighborsIndex[nodeId] || {};

    for (k in index)
      neighbors[k] = this.nodesIndex[k];

    return neighbors;
 });





var sig = new sigma();


sig.addRenderer({
  type: 'webgl',
  container: 'graphContainer'
});
        sig.settings({
          edgeColor: 'default',
          defaultEdgeColor: 'grey'
        });
    // Then, let's add some data to display:
   /* sig.graph.addNode({
      // Main attributes:
      id: 'n0',
      label: 'Hello',
      // Display attributes:
      x: 0,
      y: 0,
      size: 1,
      color: '#f00'
    }).addNode({
      // Main attributes:
      id: 'n1',
      label: 'World !',
      // Display attributes:
      x: 1,
      y: 1,
      size: 1,
      color: '#00f'
    }).addEdge({
      id: 'e0',
      // Reference extremities:
      source: 'n0',
      target: 'n1'
    }); */

    

    var addData = function(data) {
        //console.log(data);
        var gData = JSON.parse(data);

        console.log(gData.nodes[0].id);
        sig.graph.read(data);
        sig.refresh();
    };
    // Finally, let's ask our sigma instance to refresh:
    sig.refresh();


    $(document).ready(function() {
        $.ajax({
              url: "http://localhost:5000/ajax/defaultGraph"
              
            }).done(function(data) {
              addData(data)
            });
        });

</script>

</html>